<clr-tabs>
  <clr-tab>
    <button class="concept-tab" clrTabLink id="concept-search-tab">Search</button>
    <clr-tab-content id="concept-search-details" *clrIfActive>
      <concept-search></concept-search>
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button class="concept-tab" clrTabLink id="cohort-concepts-tab">Cohort concepts</button>
    <clr-tab-content id="cohort-concepts-details" *clrIfActive>
      <cohort-concepts></cohort-concepts>
    </clr-tab-content>
  </clr-tab>
</clr-tabs>